<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h1 style="background-color: red">Navbar</h1>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer >
        <h2 style="background-color: green">Footer</h2>
        
    </footer>
</body>
</html>
